.book-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-main-title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: var(--title-font-family);
  padding-bottom: 32px;
}

.book-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

